:root{
--fontSize: 16px;
--colorGrayLigth: #D2D2D2;
--colorGray: #757575;
--colorPpal: #1565C0;
--colorSec: #FFAD1C;
--colorSecL:#FFB965;
--colorSubTitle: #0E437F;
--colorText: #444;
--colorWhite: #fff;
}