				<!-- ************** Columna 3 del Index	 -->
				<div class="slider-wrap">
				  <div id="card-slider" class="slider">

				    <div class="slider-item">
				    	<div class="ms-thumbnail-container">
                <figure class="ms-thumbnail ms-thumbnail-diagonal ms-thumbnail-warning">
                  <img src="assets/img/aviso01.jpg" alt="Aviso" class="img-responsive">
                  <figcaption class="ms-thumbnail-caption text-center">
                    <div class="ms-thumbnail-caption-content">
                      <a href="javascript:void(0)" class="btn btn-white">
                        <i class="fa fa-eye"></i> Ver más</a>
                    </div>
                  </figcaption>
                </figure>
              </div>
				    </div>

				    <div class="slider-item">
				    	<div class="ms-thumbnail-container">
                <figure class="ms-thumbnail ms-thumbnail-diagonal ms-thumbnail-warning">
                  <img src="assets/img/aviso02.jpg" alt="Aviso" class="img-responsive">
                  <figcaption class="ms-thumbnail-caption text-center">
                    <div class="ms-thumbnail-caption-content">
                      <a href="javascript:void(0)" class="btn btn-white">
                        <i class="fa fa-eye"></i> Ver más</a>
                    </div>
                  </figcaption>
                </figure>
              </div>
				    </div>
						
						<div class="slider-item">
				    	<div class="ms-thumbnail-container">
                <figure class="ms-thumbnail ms-thumbnail-diagonal ms-thumbnail-warning">
                  <img src="assets/img/aviso03.jpg" alt="Aviso" class="img-responsive">
                  <figcaption class="ms-thumbnail-caption text-center">
                    <div class="ms-thumbnail-caption-content">
                      <a href="javascript:void(0)" class="btn btn-white">
                        <i class="fa fa-eye"></i> Ver más</a>
                    </div>
                  </figcaption>
                </figure>
              </div>
				    </div>

				    <div class="slider-item">
				    	<div class="ms-thumbnail-container">
                <figure class="ms-thumbnail ms-thumbnail-diagonal ms-thumbnail-warning">
                  <img src="assets/img/aviso04.jpg" alt="Aviso" class="img-responsive">
                  <figcaption class="ms-thumbnail-caption text-center">
                    <div class="ms-thumbnail-caption-content">
                      <a href="javascript:void(0)" class="btn btn-white">
                        <i class="fa fa-eye"></i> Ver más</a>
                    </div>
                  </figcaption>
                </figure>
              </div>
				    </div>			    	    

					</div>
				</div>  
				<!-- /*columna2 -->