				<!-- ************** Columna 1 del Index	 -->
				<article class="card card-warning wow slideInUp" style="visibility: visible; animation-name: slideInUp;" id="columna1">
					<div class="card-header">
					  <h1 class="super-title">QUIENES SOMOS</h1>
					</div>
          <div class="card-block">
          	<p><strong>SOLPIM – ANFAMACIO S.A. - Soluciones para imprentas</strong>, fue creada en agosto de 2018 a partir de un detallado análisis de la industria gráfica en general.</p>
          	<p>En él se concluyó que los cambios son de tal magnitud que indefectiblemente afectará a aquellas empresas que no puedan, por diferentes motivos, adaptarse a las nuevas exigencias del mercado.</p>
          	<p>Fue evidente en este análisis que prácticamente no hay imprenta que no tenga una <b>base mínima de clientela fija</b>, fiel en general al dueño de la misma, que es la que hace aún viable su existencia.</p>
          	<p>También se ha apreciado una competencia de precios que atenta contra los márgenes mínimos de rentabilidad, lo cual generalmente se compensa con una disminución notoria de retiro de utilidades en detrimento de la calidad de vida de los propietarios.</p>
          	<p><strong>SOLPIM</strong> quiere aportar a esta realidad una alternativa válida basada en un Principio Fundamental y tres columnas que sostendrán la propuesta: <b>Calidad</b> - <b>Cumplimiento</b> - <b>Precio</b>.</p>
          </div>
				</article><!-- /*columna1 -->