      <section class="price_calc" id="price_calc">      
        <!-- Cálculo de Precios -->
        <div class="material-background">
          <!-- Titulo Cálculo de Precios -->
          <h1 class="text-center fw-500 superh1">CALCULE EL PRECIO DE SU TRABAJO</h1>
        </div>
        <div class="card mt-8 wow fadeInUp container">
          <div class="card-block card-block-big">
            <form class="form-horizontal">
                <fieldset>
                  <div class="row">
                    
                    <div class="col-sm-12">
                      <div class="form-group">
                        <p class="">Dolar interbancario <span class="hidden-xs">al
                          <script>
                          var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
                          var f=new Date();
                          document.write(f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
                          </script></span>
                        = <big><strong>32,05</strong></big></p>
                      </div>                    
                    </div>

                    <!-- Condiciones de Pago -->
                    <div class="col-sm-8">
                      <div class="form-group">
                        <legend>Condiciones de Pago</legend>
                        <label for="terms01" class="col-xs-3 control-label">Condiciones</label>

                          <div class="col-xs-9 col-sm-8">
                            <select id="terms01" class="form-control selectpicker">
                              <option>Contado</option>
                              <option>Condición 2</option>
                              <option>Condición 3</option>
                            </select>
                          </div>
                      </div>                    
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group relative-box two-files">
                        <p class="">Si no tiene condición de pago acordada considere CONTADO.</p>
                      </div>
                    </div>

                    <!-- Máquina -->
                    <div class="col-sm-7">
                      <div class="form-group">
                        <legend>Seleccione la máquina apropiada</legend>
                        <label for="select01" class="col-xs-3 control-label">Máquina</label>
                          <div class="col-xs-9 col-sm-8">
                            <select id="select01" class="form-control selectpicker">
                              <option>Spedd Master 52</option>
                              <option>Spedd Master 74</option>
                              <option>Spedd Master 102</option>
                            </select>
                          </div>
                      </div>                    
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group relative-box">
                        <p class="">Si la cantidad es alta no deje de probar poner más formas y usar una máquina de mayor tamaño.<br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm"></p>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="form-group">
                        <p class="printer-title">Tenga en cuenta mínimos y máximos de cada máquina</p>
                        <div class="table-responsive">                        
                          <table class="table table-hover table-condensed printer-table" style="width: 100%">
                            <tbody>
                              <tr>
                                <td><b>Speed Master 52</b> </td>
                                <td>Pliego mínimo: 20 x10 cm <br>
                                  Gramaje mínimo: 70 gr </td>
                                <td>Pliego máximo: 51 x 36 cm <br>
                                  Gramaje máximo: 350 gr<br>
                                </td>
                              </tr>
                              <tr>
                                <td><b>Speed Master 74</b> </td>
                                <td>Pliego mínimo: 20 x 10cm<br>
                                  Gramaje mínimo: 70 gr </td>
                                <td>Pliego máximo: 74 x 50 cm<br>
                                  Gramaje máximo: 350 gr </td>
                              </tr>
                              <tr>
                                <td><b>Speed Master 102</b> </td>
                                <td>Pliego mínimo: 40 x 30 cm<br>
                                  Gramaje mínimo: 70 gr <br><br></td>
                                <td>Pliego máximo: 102 x 72 cm<br>
                                  Gramaje máximo: 350 gr </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                    <div class="clearfix"></div>

                    <!-- Chapas -->
                    <div class="col-xs-12 col-sm-3">
                      <div class="form-group">
                        <legend>Chapas necesarias</legend>
                        <label for="number01" class="col-xs-5 control-label">Cant.</label>
                          <div class="col-xs-6">
                            <input type="number" min="1" class="form-control" id="number01">
                          </div>
                      </div>                    
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <div class="form-group relative-box">
                        <div class="row">
                          <div class="col-xs-5">
                            <p class="">
                              &nbsp;&nbsp; C/U $U: <span><b>165<sup>00</sup></b></span><br>
                              &nbsp;&nbsp; Total $U: <span><b>660<sup>00</sup></b></span><br>
                              &nbsp;&nbsp; Total US$: <span><b>20<sup>59</sup></b></span>
                            </p>                            
                          </div>
                          <div class="col-xs-7">
                            <p class="">Nuestras chapas son de alta calidad y soportan sin inconveniente alguno 100,000 impresiones. Compare su precio y se sorprenderá.</p>                            
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="clearfix"></div>

                    <!-- Posturas -->
                    <div class="col-xs-12 col-sm-6">
                      <div class="row">
                        <div class="col-xs-6">
                          <div class="form-group">
                            <legend>Posturas en CMYK</legend>
                            <label for="color01" class="col-xs-6 control-label">Cantidad</label>
                              <div class="col-xs-6">
                                <input type="number" min="0" class="form-control" id="color01">
                              </div>
                          </div>                    
                        </div>

                        <div class="col-xs-6">
                          <div class="form-group">
                            <legend>Posturas en Pantone®</legend>
                            <label for="color02" class="col-xs-6 control-label">Cantidad</label>
                              <div class="col-xs-6">
                                <input type="number" min="0" class="form-control" id="color02">
                              </div>
                          </div>                    
                        </div>

                        <div class="col-xs-12 col-sm-12">
                          <div class="form-group">
                            <legend>Colores Pantone®</legend>
                            <label for="pantone01" class="col-xs-2 control-label">Colores</label>
                              <div class="col-xs-10">
                                <input type="text" class="form-control" id="pantone01" placeholder="Indique el o los colores">
                                <span class="help-block">Indique el o los colores separados por una coma. Ej: 1595U, 266U</span>
                              </div>
                          </div>                    
                        </div>
                        
                      </div><!-- /*row -->
                    </div>

                    <div class="col-xs-12 col-sm-6">
                      <div class="form-group relative-box especial-margin">
                        <p>Hemos seleccionado tintas POLOLO, tanto en CMYK como en colores Pantone®.<br> 
                        Le recordamos que de una marca a otra pueden haber pequeñas diferencias al lograr un color.<br> 
                        Los mismos son medidos y solo lograremos aproximaciones aprobados por por nuestro responsable,
                        con él PUEDE COORDINAR SU PRESENCIA PARA CONFIRMARLOS USTED MISMO.</p>                        
                      </div>
                    </div>

                    <div class="clearfix"></div>

                    <!-- Material / Papel -->
                    <div class="col-xs-12 col-sm-6">
                      <div class="form-group">
                        <legend>Seleccione el material</legend>
                          <div class="col-xs-11">
                            <select id="paper02" class="form-control selectpicker mb-4">
                              <option>Papel obra 89 gr - 72 x 92</option>
                              <option>Papel obra 100 gr - 70 x 100</option>
                              <option>Papel obra 100 gr - 72 x 92</option>
                              <option>Coteados brillo 115 gr - 66 x 96</option>
                              <option>Coteados brillo 115 gr - 72 x 102</option>
                              <option>Coteados mate 115 gr - 66 x 96</option>
                              <option>Coteados mate 115 gr - 72 x 102</option>
                            </select>
                          </div>                        
                        
                        <legend>Formato del pliego en mm</legend>
                          <div class="col-xs-5">
                            <input type="number" class="form-control" id="size01">
                          </div>
                          <div class="col-xs-1 text-center">
                            <strong>X</strong>
                          </div>
                          <div class="col-xs-5">
                            <input type="number" class="form-control" id="size02">
                          </div>
                      </div>                    
                    </div>

                    <div class="col-xs-12 col-sm-6">
                      <div class="form-group relative-box two-files">
                        <p class="">&nbsp;&nbsp; Precio hoja $U: <span><b>3<sup>54</sup></b></span></p>
                        <p class="">&nbsp;&nbsp; Precio hoja US$: <span><b>0<sup>10</sup></b></span></p>
                          <p>
                            El precio del papel es el de plaza.<br>
                            Compre solo lo que necesita, no cobramos fraccionamiento.<br>
                            Puede llevar papel fraccionado para el en su taller.
                          </p>                                               
                        </div>
                    </div>

                    <div class="clearfix"></div>

                   
                    <div class="col-xs-12 col-sm-4">
                      <div class="form-group">
                        <legend>Cantidad de pliegos buenos</legend>
                        <label for="goodsheet01" class="col-xs-4 control-label">Cantidad</label>
                          <div class="col-xs-6">
                            <input type="number" class="form-control" id="goodsheet01">
                          </div>
                      </div>                    
                    </div>

                    <div class="col-xs-12 col-sm-4">
                      <div class="form-group relative-box">
                        <p class="">&nbsp;&nbsp; Pliegos que salen por hoja <span class="bold" id="cutSheets01">04</span></p>
                        <p class="">&nbsp;&nbsp; Se necesitan <span class="bold" id="necessarySheets01">55000</span> hojas</p>
                        <p class="">&nbsp;&nbsp; Incluye demasía de <span class="bold" id="excess01">50</span> por chapa</p>                     
                      </div>
                    </div>

                    <div class="col-sm-1 hidden-xs"></div>

                    <div class="col-xs-12 col-sm-3">
                      <div class="form-group">
                        <legend class="uppercase">Precio papel</legend>
                        <p class="" id="paperPrice01">$U <span class="bold">1623<sup>00</sup></span></p>
                        <p class="" id="paperPrice01">US$ <span class="bold">49<sup>18</sup></span></p>

                      </div>                    
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-xs-12">
                      <div class="form-group">
                        <legend><big>Tinta</big> <small class="color-gray"> - Los precios de lista incluyen cubrimiento de hasta 15% de tinta, a mayor cubrimiento se incrementa el precio.</small></legend>                        
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-5">
                      <div class="form-group" style="margin-top: 0 !important">
                        <legend>Porcentaje estimado de cubrimiento</legend>
                        <label for="inkPercent01" class="col-xs-4 control-label">Porcentaje</label>
                          <div class="col-xs-4 mb-3">
                            <input type="number" class="form-control" id="inkPercent01">
                          </div>
                          <div class="col-xs-12">
                            <p class="small">&nbsp;&nbsp; Consumo estimado <span class="bold" id="inkC01">250</span> gramos</p>
                            <p class="small">&nbsp;&nbsp; Importe adicional por tinta $U <span class="bold" id="inkP01">550<sup>00</sup></span></p>
                          </div>
                      </div>                    
                    </div>

                    <div class="col-xs-12 col-sm-7">
                      <div class="form-group relative-box two-files" style="margin-top: 0 !important">
                        <p class="">El costo de fondear un pliego es importante y debe considerarse en el precio - SOLO cobramos el costo de la tinta.</p>
                        <p>De no hacerlo sería una situación injusta frente a quien solo imprime texto.</p>
                        <p>A modo de ejemplo, 1000 pliegos con un pleno de 49 x 33 consume 330gr si es en coteado y más aún si es en obra. El costo es de $ 330 si fuera 072.</p>
                      </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-xs-12">
                      <div class="form-group">
                        <legend><big>Importe corte inicial</big>&nbsp;&nbsp;<span class="color-gray">$U <span class="bold" id="cut01">100<sup>00</sup></span></span></legend>
                      </div>
                    </div>
                  </div><!-- /*row -->

                  <div class="row">
                    <h3>Adicionales</h3>
                    
                    <div class="col-xs-12">
                      <div class="form-group">
                          <div class="col-xs-12">
                              <div class="togglebutton">
                                  <label>
                                    <strong class="title-togglebutton">¿Refilamos su trabajo?</strong><br class="visible-xs"> &nbsp;No<input id="cut02" type="checkbox" checked="no"> Si
                                  </label>
                              </div>
                          </div>
                      </div>
                    </div>

                    <div class="col-xs-12">
                      <div class="form-group">
                          <div class="col-xs-12">
                              <div class="togglebutton">
                                  <label>
                                    <strong class="title-togglebutton">¿Doble corte?</strong><br class="visible-xs"> &nbsp;No<input id="cut03" type="checkbox" checked="no"> Si
                                  </label>
                              </div>
                          </div>
                      </div>
                    </div>

                    <div class="col-xs-12">
                      <div class="form-group">
                          <div class="col-xs-12">
                              <div class="togglebutton">
                                  <label>
                                    Importe por refile $U<span class="bold" id="totalCut01"> 500<sup>99</sup></span>
                                  </label>
                              </div>
                          </div>
                      </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-xs-12">
                      <div class="form-group">
                          <div class="col-xs-12">
                              <div class="togglebutton" style="padding-top: 1.5rem">
                                  <label>
                                    <strong class="title-togglebutton">¿Empaquetamos su trabajo?</strong><br class="visible-xs"> &nbsp;No<input id="pack01" type="checkbox" checked="no"> Si
                                  </label>
                              </div>
                          </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-5">
                      <div class="form-group">
                        <label for="pack02" class="col-xs-7 col-sm-6 control-label">Hacer paquetes de</label>
                          <div class="col-xs-5 col-sm-4">
                            <input type="number" class="form-control" id="pack02">
                          </div>
                      </div>                    
                    </div>

                    <div class="col-xs-12 col-sm-5">
                      <div class="form-group">
                          <div class="col-xs-12">
                              <div class="" style="padding-top: 1.5rem">
                                  <label>
                                    Son<span class="bold" id="pack03"> 20</span> paquetes
                                  </label>
                              </div>
                          </div>
                      </div>
                    </div>

                    <div class="col-xs-12">
                      <div class="form-group">
                          <div class="col-xs-12">
                              <div class="" style="padding-top: 1.5rem">
                                  <label>
                                    Importe empaquetado $U<span class="bold" id="pack04"> 600<sup>25</sup></span>
                                  </label>
                              </div>
                          </div>
                      </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-xs-12 col-sm-5">
                      <div class="form-group">
                        <legend class="legendGray"><strong>&nbsp;&nbsp;¿Doblamos su trabajo?</strong></legend>
                        
                        <div class="col-xs-6 col-sm-6">
                          <div class="radio radio-primary">
                              <label>
                                  <input type="radio" name="folding" id="folding01" value="1" type="checkbox"> Díptico
                              </label><br>
                              <label>
                                  <input type="radio" name="folding" id="folding02" value="2" type="checkbox"> Tríptico
                              </label><br>
                              <label>
                                  <input type="radio" name="folding" id="folding03" value="3" type="checkbox"> Cuatríptico
                              </label><br>
                              <label>
                                  <input type="radio" name="folding" id="folding04" value="4" type="checkbox"> Más
                              </label><br>
                              <label>
                                  <input type="radio" name="folding" id="folding05" value="5" type="checkbox"> Zig zag
                              </label><br>
                              <label>
                                  <input type="radio" name="folding" id="folding06" value="6" type="checkbox"> Ventana
                              </label><br>
                          </div>                        
                        </div>

                        <div class="col-xs-6 col-sm-4 col-md-3">
                          <div class="radio radio-primary">
                              <p class="foldingContPrice">$U <span class="bold" id="foldingP01">0<sup>00</sup></span></p>                            
                              <p class="foldingContPrice">$U <span class="bold" id="foldingP02">0<sup>00</sup></span></p>                            
                              <p class="foldingContPrice">$U <span class="bold" id="foldingP03">0<sup>00</sup></span></p>                            
                              <p class="foldingContPrice">$U <span class="bold" id="foldingP04">0<sup>00</sup></span></p>                            
                              <p class="foldingContPrice">$U <span class="bold" id="foldingP05">0<sup>00</sup></span></p>                            
                              <p class="foldingContPrice">$U <span class="bold" id="foldingP06">0<sup>00</sup></span></p>                            
                       
                          </div>                        
                        </div>
                      </div><!-- /*form-group -->
                    </div>

                    <div class="col-xs-12 col-sm-4">
                      <div class="form-group relative-box two-files">
                        <p class="">&nbsp;&nbsp; Importe doblado $U: <span class="bold"><b>300<sup>00</sup></b></span></p>
                        <p class="">&nbsp;&nbsp; Importe doblado US$: <span class="bold"><b>9<sup>09</sup></b></span></p>
                      </div>
                    </div>
                  </div><!-- */row -->

                  <br>

                  <div class="row">
                    <div class="col-sm-3 hidden-xs"></div>
                    <div class="col-xs-12 col-sm-6">
                      <div class="well">
                        <p class="total">Total trabajo $U: <span>2288<sup>00</sup></span></p>
                        <p class="total">Total trabajo US$: <span>69<sup>33</sup></span></p>      
                      </div>                  
                    </div>
                    <div class="col-sm-3 hidden-xs"></div>                  
                  </div><!-- /*row -->
                       
                  <div class="form-group">
                    <div class="col-xs-12">
                      <center>
                        <button type="submit" class="btn btn-raised btn-primary">Ver Presupuesto</button>
                        <button type="button" class="btn btn-danger">Cancelar</button>
                      </center>
                    </div>
                  </div>

                </fieldset>
            </form>

          </div>
        </div>
      </section><!-- ./Cálculo de Precios -->