        <!-- Experiencia profesional -->
        <div class="container pt-6">
          <div class="card card-block card-block-big wow fadeInUp" id="timeline">
            <h3 class="text-center fw-500 mb-6">Experiencia Profesional</h3>
            <ul class="ms-timeline-left">
              <li class="ms-timeline-left-item wow fadeInUp">
                <h4>Slice Group</h4>
                <div class="ms-timeline-left-left">
                  <h4 class="color-primary">Coordinador Frontend Desing</h4>
                  <time class="ms-timeline-left-time">2016 - Actualidad</time>
                </div>
                <p>Coordinar y participar activamente el el equipo de diseñadores que se encarga de estructurar los elementos gráficos de un sitio web para expresar estéticamente la identidad visual de una compañía u organización, con el objeto de reforzar su identidad visual y despertar una sensación de confianza en el usuario. </p>
              </li>
              <li class="ms-timeline-left-item wow fadeInUp">
                <h4>Gráficas Litho Xpress, C.A.</h4>
                <div class="ms-timeline-left-left">
                  <h4 class="color-primary">Jefe de Taller</h4>
                  <time class="ms-timeline-left-time">2004 - 2015</time>
                </div>
                <p>Supervisar los trabajos del taller de imprenta; coordinando, distribuyendo las tareas del personal a su cargo, así como aplicando los procedimientos y técnicas necesarias para asegurar el perfecto acabado y calidad del producto final en dicha área.</p>
                <p>También imprimir producciones sencillas o complejas, preparando y utilizando técnicas, material y equipos necesarios para garantizar la obtención de un producto nítido y de óptima calidad para el área de artes gráficas.</p>
              </li>
              <li class="ms-timeline-left-item wow fadeInUp">
                <h4>CoDig, C.A.</h4>
                <div class="ms-timeline-left-left">
                  <h4 class="color-primary">Coordinador de Diseño</h4>
                  <time class="ms-timeline-left-time">1997 - 2003</time>
                </div>
                <p>Comunicación visual de ideas, valores y objetivos que presentados por los clientes, mediante procesos creativos con un fuerte agregado tecnológico, provocando un fuerte impacto y atracción, a través de un mensaje muy claro que llegue a un determinado público.</p>
              </li>            
            </ul>
          </div>
          <div class="card mt-4 wow fadeInUp" id="education">
            <div class="card-block card-block-big">
              <h3 class="text-center fw-500 mb-2">Capacitación y Formación</h3>
              <div class="row">
                <div class="xs-col-12 col-md-6">
                  <div class="pr-1 pl-1">
                    <h4 class="color-primary fw-500 md-1">Técnico Superior Universitario en Diseño Gráfico</h4>
                    <div>Instituto Universitario de Tecnología "Alonzo Gamero"</div>
                    <span class="small">2000 - 2004</span>
                    <p class="small mt-1">Capacitación técnica en el conjunto de elementos que ayudan a concebir, organizar, proyectar y realizar comunicaciones visuales u obras gráficas. Éstas pueden ser producidas por medios industriales o particulares, que tienen como objetivo en común transmitir un mensaje determinado a grupos específicos, a través de diferentes soportes tales como sitios web, folletos, carteles, redes sociales, etc</p>
                    <p><b>Premio al Mejor Promedio</b> por dos años consecutivos. <br> Graduado <b>Cum Laude</b>.</p>
                  </div>
                </div>

                <div class="xs-col-12 col-md-6">
                  <div class="pl-1 pr-1">
                    <h4 class="color-primary fw-500 md-1">Carrera de Arquitectura Frontend</h4>
                    <div>Platzi</div>
                    <span class="small">2017 - 2018</span>
                    <p class="small mt-1">Creación de sitios web responsivos y funcionales, con interfaces que brinden las mejores experiencias de usuario. Dominio de HTML, CSS y JavaScript, preprocesadores de CSS, frameworks como Bootstrap y Foundation y Animaciones con CSS.</p>
                    <p><b>8 Cursos en total</b> culminados exitosamente:</p>
                    <ul>
                      <li>Programación Básica</li>
                      <li>Curso Profesional de GIT y GitHub</li>
                      <li>Desarrollo Web Online</li>
                      <li>Responsive Desing</li>
                      <li>Diseño Web con POSTCSS, el futuro del CSS</li>
                      <li>Frontend con Bootstrap y Foundation</li>
                      <li>Animaciones para la Web</li>
                      <li>CSS Grid Layoout</li>
                    </ul>

                  </div>
                </div>

                <div class="col-xs-12">
                  <div class="pl-1 pr-1">
                    <h4 class="color-primary fw-500 md-1">Experiencia de voluntariado</h4>
                    <div>Asociación de Scouts de Venezuela</div>
                    <span class="small">1984 - Actualidad</span>
                    <p class="small mt-1">Miembro desde 1984, luego de recibir los beneficios del Método Scout durante su niñez, adolescencia y adultez temprana, se dedica servir como Adulto Scouts en varios niveles de la estructura, que han abarcado desde el trabajo directo en la unidades con jóvenes hasta el de representante Regional de la Organización. Actualmente se desempeña como Capacitador de Adultos Scouts.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div><!-- container -->
        <!-- ./Experiencia profesional -->