<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>SOLPIM | Soluciones para imprentas</title>
    <meta name="description" content="SOLPIM – Divirisa S.A. – Soluciones para imprentas, fue creada en agosto de 2018 a partir de un detallado análisis de la industria gráfica en general.">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <!-- Fuentes -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    <!-- Core CSS -->
    <link rel="stylesheet" href="assets/css/preload.min.css" />
    <link rel="stylesheet" href="assets/css/plugins.min.css" />
    <link rel="stylesheet" href="assets/css/style.blue-800.min.css" />
    <link rel="stylesheet" href="assets/css/app.min.css" />
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <a href="#" class="ms-conf-btn ms-configurator-btn btn-circle btn-circle-raised btn-circle-primary animated rubberBand hidden-xs">
      <i class="fa fa-th-large"></i>
    </a>

    <!--<div id="ms-preload" class="ms-preload">
      <div id="status">
        <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
      </div>
    </div> -->

    <!-- ================================
      Contenedor principal del sitio -->
    <div class="sb-site-container">