			<!-- Above the fold de de la página -->
			<header class="intro-full ms-hero-img-keyboard ms-hero-bg-dark color-white" id="home">
        <div class="container index-1">
          <div class="col-sm-9 col-md-7 col-lg-6">
            <h1 class="text-uppercase animated fadeInDown animation-delay-5 typed-title mt-4" id="namePpal">Enrique Valerio
              <br>
              <span class="color-primary typed-class">Diseñador Gráfico</span>
            </h1>
            <p class="lead animated fadeInLeft animation-delay-7 color-light" id="citeHeader">Diseñar es una actividad abstracta que implica programar, proyectar, traducir lo invisible en visible, comunicar.<br><small><i>- Jorge Frascara</i></small></p>
            <!-- <ul class="hidden-xs">
              <li class="animated fadeInUp animation-delay-7">Fugit officiis iure ullam tenetur earum magnam repellat.</li>
              <li class="animated fadeInUp animation-delay-10">Repellat placeat quisquam dignissimos laboriosam.</li>
              <li class="animated fadeInUp animation-delay-13">Obcaecati necessitatibus sapiente adipisci dolore.</li>
              <li class="animated fadeInUp animation-delay-16">Blanditiis tempora perspiciatis architecto voluptates.</li>
            </ul> -->
            <div class="text-center">
              <a href="#portfolio" class="btn btn-raised btn-lg btn-white color-primary animated flipInX animation-delay-20">
                <i class="fa fa-th-large"></i> Proyectos</a>
              <a href="#information" class="btn btn-raised btn-lg btn-warning animated flipInX animation-delay-24">
                <i class="fa fa-envelope"></i> Contactos</a>
            </div>
          </div>
          <!-- <div class="col-md-6 text-center mt-4">
            <div class="img-phone-container">
              <img class="img-responsive animated zoomInDown animation-delay-3 index-1" src="assets/img/demo/pixel1.png">
              <img class="img-responsive img-phone-left" src="assets/img/demo/pixel3.png">
              <img class="img-responsive img-phone-right" src="assets/img/demo/pixel2.png"> </div>
          </div> -->
          <!-- <div class="col-md-12">
            <div class="text-center ms-margin">
              <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow flipInX animation-delay-20">
                <div class="btn-container">
                  <i class="fa fa-html5"></i>
                  <span>Aviable as</span>
                  <br>
                  <strong>Web App</strong>
                </div>
              </a>
              <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow flipInX animation-delay-22">
                <div class="btn-container">
                  <i class="fa fa-windows"></i>
                  <span>Download for</span>
                  <br>
                  <strong>Windows</strong>
                </div>
              </a>
              <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow flipInX animation-delay-24">
                <div class="btn-container">
                  <i class="fa fa-apple"></i>
                  <span>Download for</span>
                  <br>
                  <strong>MacOS</strong>
                </div>
              </a>
              <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow flipInX animation-delay-26">
                <div class="btn-container">
                  <i class="fa fa-android"></i>
                  <span>Aviable in </span>
                  <br>
                  <strong>Play Store</strong>
                </div>
              </a>
              <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow flipInX animation-delay-28">
                <div class="btn-container">
                  <i class="fa fa-apple"></i>
                  <span>Aviable in </span>
                  <br>
                  <strong>App Store</strong>
                </div>
              </a>
            </div>
          </div> -->
        </div>
      </header><!-- /.Above the fold de de la página -->