				<!-- Información personal -->
				<div class="container">  
	        <div class="card mt-4 wow fadeInUp" id="information">
	          <div class="bg-primary">
	            <h3 class="color-white index-1 fw-500 text-center no-m pt-4">Información</h3>
	            <img src="assets/img/avatar1.jpg" alt="Foto Enrique Valerio" class="img-avatar-circle"> </div>
	          <div class="card-block card-block-big">
	            <div class="row">
	              <div class="col-md-6">
	                <h3 class="color-primary">Sobre mi</h3>
	                <p>Diseñador Gráfico con <b>14 años de experiencia</b> en diversas ramas del oficio. He trabajado principalmente como diseñador de Branding y Frontend Desing, ocupando puestos de supervisión en equipos creativos. En el área de impresión comercial, laboré como Jefe de Producción de una imprenta.</p>
	                <p>Actualmente, luego de un proceso de crecimiento profesional dentro de esta área, me desempeño como Coordinador de Frontend Desing en Slice Group.</p>
	                <p>Antes de unirme a Slice Group, empredí mi propia empresa de diseño gráfico donde tuve la suerte de trabajar con excelentes clientes, que me ayudaron a formar un criterio de calidad y disciplina. Posteriormente, en sociedad con empresarios jóvenes y de visión, fundamos Gráficas Litho Xpress, una compañía que de inmediato se destacó y al poco tiempo tomó el liderazgo como empresa de impresión comercial y publicitaria a nivel regional, allí laboré durante 12 años como Jefe de Producción, adquiriendo sólidos conocimientos en la materia, además de nociones claras sobre como dirigir un equipo de trabajo eficiente.</p>
	                <p><b>Realmente soy un apasionado de mi trabajo</b>, siempre con ganas de aprender, mientras disfruto de todos los aspectos de mi empleo, creo que mi etapa favorita en un proyecto es el desarrollo del mismo, trabajar con mis compañeros para cristalizar una idea, que luego sea realmente útil para nuestros clientes. A medida que avanzamos a través de ese proceso de colaboración, las ideas comienzan a fluir y eso siempre es la parte más edificadora.</p>
	                <p>Aparte de mi formación académica tradicional, opté y quedé seleccionado para una Beca Empresarial de Platzi, donde he adquirido muchas herramientas útiles para mi actual desempeño profesional… Además, siempre estoy interesado en escuchar a compañeros, gerentes o simplemente gente interesante y creativa, que me permita mejorar cada día un poco más.</p>
	              </div>
	              <div class="col-md-5 col-md-offset-1">
	                <h3 class="color-primary">Contactos</h3>
	                <address class="no-mb">
	                  <p>
	                    <i class="color-danger fa fa-map-marker mr-1"></i>
	                    <strong>Dirección:</strong> Urb. Jorge Hernández, Sector 2 Vda G-3 #2. Punto Fijo.</p>
	                  <p>
	                    <i class="color-warning fa fa-map mr-1"></i>
	                    <strong>Estado:</strong> Estado Falcón, Venezuela</p>
	                  <p>
	                    <i class="color-info fa fa-envelope mr-1"></i>
	                    <strong>Email:</strong>
	                    <a href="mailto:joe@example.com">valerio.enrique73@gmail.com</a>
	                  </p>
	                  <p>
	                    <i class="color-royal fa fa-phone mr-1"></i>
	                    <strong>Móvil:</strong> +58 414 9685112 </p>
	                  <p>
	                    <i class="color-success fa fa-whatsapp mr-1"></i>
	                    <strong>WhatsApp:</strong> +58 414 9685112 </p>
	                </address>
	                
	                <div class="mt-4">
	                  <!-- <a href="https://www.facebook.com/enrique.valerio" target="_blank" class="btn-circle btn-facebook"><i class="fa fa-facebook"></i></a> -->
	                  <!-- <a href="https://twitter.com/caballero73?lang=es" target="_blank" class="btn-circle btn-twitter"><i class="fa fa-twitter"></i></a> -->
	                  <a href="https://plus.google.com/u/2/114242488321831738892" target="_blank" class="btn-circle btn-google"><i class="fa fa-google-plus"></i></a>
	                  <!-- <a href="https://www.instagram.com/scouter_ejv/" target="_blank" class="btn-circle btn-instagram"><i class="fa fa-instagram"></i></a> -->
	                  <a href="https://www.linkedin.com/in/enrique-valerio-6b347b126/" target="_blank" class="btn-circle btn-linkedin"><i class="fa fa-linkedin"></i></a>
	                  <a href="https://github.com/Caballero73/" target="_blank" class="btn-circle btn-github"><i class="fa fa-github"></i></a>
	                </div>
	                <hr>

	                <blockquote>
	                  <p>Mira ampliamente más allá de tu entorno inmediato y límites, y verás las cosas en su justa proporción. Mira por encima del nivel de las cosas a tu alrededor y verás un objetivo superior y las posibilidades de tu trabajo.</p>
	                  <cite><small>Baden-Powell</small></cite>
	                </blockquote>

	              </div>
	            </div>
	          </div>
	        </div>
	      </div><!-- container -->
	      <!-- ./Información personal -->