<div class="col-sm-12 col-md-6 mix category-2">
              <div class="card">
                <figure class="ms-thumbnail">
                  <img src="assets/img/port-piscicultura.jpg" alt="Blog Piscicultura Global" class="img-responsive">
                  <figcaption class="ms-thumbnail-caption text-center">
                    <div class="ms-thumbnail-caption-content">
                      <h4 class="ms-thumbnail-caption-title mb-2">PisciculturaGlobal</h4>
                      <p class="hidden-xs">Capacitación y coaching empresarial para iniciar y operar proyectos acuícolas.</p>
                      <a href="https://pisciculturaglobal.com/" target="_blank" class="btn btn-info btn-lg">Ver página en vivo</a>
                      <a class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalItem02">Más información</a>                      
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>