<div class="col-sm-12 col-md-6 mix category-1">
              <div class="card">
                <figure class="ms-thumbnail">
                  <img src="assets/img/port-hotelbrisas.jpg" alt="Sitio Web Hotel Brisas Paraguaná" class="img-responsive">
                  <figcaption class="ms-thumbnail-caption text-center">
                    <div class="ms-thumbnail-caption-content">
                      <h4 class="ms-thumbnail-caption-title mb-2">Sitio Web Hotel Brisas Paraguaná</h4>
                      <p class="hidden-xs">Este hotel es reconocido por contar con la mayor variedad de salones para la realización de reuniones, banquetes y convenciones.</p>
                      <a href="http://www.hotelbrisasparaguana.com.ve/" target="_blank" class="btn btn-info btn-lg">Ver página en vivo</a>
                      <a class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalItem10">Más información</a>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>