<div class="col-sm-12 col-md-6 mix category-1">
              <div class="card">
                <figure class="ms-thumbnail">
                  <img src="assets/img/port-humberto.jpg" alt="Sitio Web de Humberto Montes" class="img-responsive">
                  <figcaption class="ms-thumbnail-caption text-center">
                    <div class="ms-thumbnail-caption-content">
                      <h4 class="ms-thumbnail-caption-title mb-2">Humberto Montes</h4>
                      <p class="hidden-xs">Escritor, coaching y motivador profesional.</p>
                      <a href="http://humbertomontes.com/" target="_blank" class="btn btn-info btn-lg">Ver página en vivo</a>
                      <a class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalItem01">Más información</a>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>