<div class="col-sm-12 col-md-6 mix category-1">
              <div class="card">
                <figure class="ms-thumbnail">
                  <img src="assets/img/port-scouts.jpg" alt="Sitio Web Scouts Venezuela - Región Falcón" class="img-responsive">
                  <figcaption class="ms-thumbnail-caption text-center">
                    <div class="ms-thumbnail-caption-content">
                      <h4 class="ms-thumbnail-caption-title mb-2">Scouts Venezuela - Región Falcón</h4>
                      <p class="hidden-xs">Sitio oficial de los Scouts de Venezuela en la Región Falcón.</p>
                      <a href="http://scoutsfalcon.org//" target="_blank" class="btn btn-info btn-lg">Ver página en vivo</a>
                      <a class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalItem11">Más información</a>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>

            <!-- <div class="col-sm-6 mix category-1">
              <div class="card">
                <figure class="ms-thumbnail">
                  <img src="assets/img/port-scouts.jpg" alt="..." class="img-responsive">
                  <figcaption class="ms-thumbnail-caption text-center">
                    <div class="ms-thumbnail-caption-content">
                      <h4 class="ms-thumbnail-caption-title mb-2">Scouts Venezuela - Región Falcón</h4>
                      <p>Sitio oficial de los Scouts de Venezuela en la Región Falcón. Página muy extensa que cueta con información sobre eventos, técnicas de campismo y noticias en general del acontecer scouts nacional e internacional.</p>
                      <a href="http://scoutsfalcon.org/" target="_blank" class="btn btn-info btn-lg">Ver página en vivo</a>
                    </div>
                  </figcaption>
                </figure>
              </div> -->