<div class="col-sm-12 col-md-6 mix category-1">
              <div class="card">
                <figure class="ms-thumbnail">
                  <img src="assets/img/port-babytaso.jpg" alt="Sitio Web Babytaso" class="img-responsive">
                  <figcaption class="ms-thumbnail-caption text-center">
                    <div class="ms-thumbnail-caption-content">
                      <h4 class="ms-thumbnail-caption-title mb-2">BabyTaso</h4>
                      <p class="hidden-xs">Detienen el tiempo creando esculturas únicas y personalizadas con el fin de inmortalizar momentos que no volverán.</p>
                      <a href="http://babytaso.com/" target="_blank" class="btn btn-info btn-lg">Ver página en vivo</a>
                      <a class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalItem03">Más información</a>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>