    <div class="ms-slidebar sb-slidebar sb-left sb-momentum-scrolling sb-style-overlay" id="menu-off-canvas">
      <header class="ms-slidebar-header">
        <div class="ms-slidebar-title">
          <div class="ms-slidebar-t">
            <span class="ms-logo ms-logo-sm">EV</span>
            <h3>Enrique
              <span>Valerio</span>
            </h3>
          </div>
        </div>
      </header>
      <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
        <li>
          <a data-scroll class="link" href="#home">
            <i class="fa fa-home"></i> Inicio</a>
        </li>
        <li>
          <a data-scroll class="link" href="#portfolio">
            <i class="fa fa-desktop"></i> Portfolio</a>
        </li>
        <li>
          <a data-scroll class="link" href="#timeline">
            <i class="fa fa-certificate"></i> Experiencia</a>
        </li>
        <li>
          <a data-scroll class="link" href="#education">
            <i class="fa fa-graduation-cap"></i> Formación</a>
        </li>
        <li>
          <a data-scroll class="link" href="#skills">
            <i class="fa fa-superpowers "></i> Habilidades</a>
        </li>
        <li>
          <a data-scroll class="link" href="#information">
            <i class="fa fa-address-book-o"></i> Información</a>
        </li>
      </ul>
      <div class="ms-slidebar-social ms-slidebar-block">
        <h4 class="ms-slidebar-block-title">Social Links</h4>
        <div class="ms-slidebar-social">

          <a href="https://www.facebook.com/enrique.valerio" target="_blank" class="btn-circle btn-circle-raised btn-circle-sm btn-facebook">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="https://twitter.com/caballero73?lang=es" target="_blank" class="btn-circle btn-circle-raised btn-circle-sm btn-twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://plus.google.com/u/2/114242488321831738892" target="_blank" class="btn-circle btn-circle-raised btn-circle-sm btn-google">
            <i class="fa fa-google-plus"></i>
          </a>
          <a href="https://www.instagram.com/scouter_ejv/" target="_blank" class="btn-circle btn-circle-raised btn-circle-sm btn-instagram">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
      </div>
    </div><!-- ./Menu Off-Canvas -->