<div class="modal" id="modalItem08" tabindex="-1" role="dialog" aria-labelledby="AnimacionesWeb">
  <div class="modal-dialog modal-lg animated zoomIn animated-3x" role="document">
    <div class="modal-content">
      <!-- Header Modal -->
      <div class="modal-header" style="background: #cacaca">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
        <h3 class="modal-title" id="AnimacionesWeb">Animaciones Web</h3>
      </div><!-- ./Header Modal -->
      <!-- Contenido del Modal -->
      <div class="modal-body">
        <div class="animated fadeInUp animation-delay-1">
          <div class="row">
            <!-- Imagen -->
            <div class="col-md-8">
              <img src="assets/img/port-animaciones.jpg" alt="Frontend con Foundation" class="img-responsive">
            </div><!-- ./Imagen -->
            <!-- Datos -->
            <div class="col-md-4">
              <h3 class="color-primary">Datos</h3>
              <div class="card-block blue">
                <ul class="list-unstyled">
                  <li class="fw-300">Categoría <br><strong>Tutoriales</strong></li>
                  <li class="fw-300">Desarrollado como <br><strong>Ejercicio práctico</strong></li>
                  <li class="fw-300">Año <br><strong>2018</strong></li>
                  <hr>
                  <li>
                    <a class="ms-tag ms-tag-info">HTML5</a>
                    <a class="ms-tag ms-tag-danger">CSS3</a>
                    <a class="ms-tag ms-tag-royal">JQuery</a>
                    <a class="ms-tag ms-tag-primary">Bootstrap4</a>
                    <a class="ms-tag ms-tag-success">Gulp</a>
                  </li>
                </ul>
              </div>
            </div><!-- ./Datos -->
          </div><!-- ./row -->
          <!-- Descripción -->
          <div class="card-block">
            <h3 class="color-primary">Descripción</h3>
            <p>En este material lo que busco es reunir de forma ordenada y de fácil lectura los conocimientos fundamentales para aplicar animaciones a un sitio web, con un objetivo claro y buscando siempre mejorara la experiencia del visitante.</p>
            <!-- <p class="small mt-2"><i>xxx</i></p> -->
          </div><!-- ./Descripción -->          
        </div>
      </div><!-- ./Contenido del Modal -->
      <!-- Footer del Modal -->
      <div class="modal-footer" style="background: #cacaca">
        <a type="button" class="btn btn-default" data-dismiss="modal">Cerrar</a>
        <a href="https://caballero73.github.io/animacion-w/index.html" target="_blank" type="button" class="btn  btn-primary">Ver en vivo</a>
      </div><!-- ./Footer del Modal -->
    </div>
  </div>
</div>