<div class="modal" id="modalItem06" tabindex="-1" role="dialog" aria-labelledby="ScoutsVenezuela2">
  <div class="modal-dialog modal-lg animated zoomIn animated-3x" role="document">
    <div class="modal-content">
      <!-- Header Modal -->
      <div class="modal-header" style="background: #cacaca">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
        <h3 class="modal-title" id="ScoutsVenezuela2">Sitio Web Scouts Venezuela - Región Falcón</h3>
      </div><!-- ./Header Modal -->
      <!-- Contenido del Modal -->
      <div class="modal-body">
        <div class="animated fadeInUp animation-delay-1">
          <div class="row">
            <!-- Imagen -->
            <div class="col-md-8">
              <img src="assets/img/port-scouts2.jpg" alt="Sitio Web Scouts Venezuela - Región Falcón" class="img-responsive">
            </div><!-- ./Imagen -->
            <!-- Datos -->
            <div class="col-md-4">
              <h3 class="color-primary">Datos</h3>
              <div class="card-block blue">
                <ul class="list-unstyled">
                  <li class="fw-300">Categoría <br><strong>Wordpress</strong></li>
                  <li class="fw-300">Desarrollado para <br><strong>Scouts Venezuela</strong></li>
                  <li class="fw-300">Año <br><strong>2018</strong></li>
                  <hr>
                  <li>
                    <a class="ms-tag ms-tag-info">HTML5</a>
                    <a class="ms-tag ms-tag-danger">CSS3</a>
                    <a class="ms-tag ms-tag-royal">JS</a>
                    <a class="ms-tag ms-tag-primary">Bootstrap3</a>
                    <a class="ms-tag ms-tag-success">PHP</a>
                    <a class="ms-tag ms-tag-info">Gulp</a>
                  </li>
                </ul>
              </div>
            </div><!-- ./Datos -->
          </div><!-- ./row -->
          <!-- Descripción -->
          <div class="card-block">
            <h3 class="color-primary">Descripción</h3>
            <p>Con la intención de facilitar el manejo de la información y la constante actualización del portal, estamos convirtiendo la actual web de la organización en un tema para Wordpress 100% a la medida del sus necesidades.</p>
            <p class="small mt-2"><i>En esta oportunidad estoy haciendo equipo con un grupo de desarroladores frontend y backend.</i></p>
          </div><!-- ./Descripción -->          
        </div>
      </div><!-- ./Contenido del Modal -->
      <!-- Footer del Modal -->
      <div class="modal-footer" style="background: #cacaca">
        <a type="button" class="btn btn-default" data-dismiss="modal">Cerrar</a>
        <!-- <a href="http://scoutsfalcon.org/" target="_blank" type="button" class="btn  btn-primary">Ver en vivo</a> -->
      </div><!-- ./Footer del Modal -->
    </div>
  </div>
</div>