<div class="modal" id="modalItem02" tabindex="-1" role="dialog" aria-labelledby="PisciculturaGlobal">
  <div class="modal-dialog modal-lg animated zoomIn animated-3x" role="document">
    <div class="modal-content">
      <!-- Header Modal -->
      <div class="modal-header" style="background: #cacaca">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
        <h3 class="modal-title" id="PisciculturaGlobal">Blog Piscicultura Global</h3>
      </div><!-- ./Header Modal -->
      <!-- Contenido del Modal -->
      <div class="modal-body">
        <div class="animated fadeInUp animation-delay-1">
          <div class="row">
            <!-- Imagen -->
            <div class="col-md-8">
              <img src="assets/img/port-piscicultura.jpg" alt="Blog Piscicultura Global" class="img-responsive">
            </div><!-- ./Imagen -->
            <!-- Datos -->
            <div class="col-md-4">
              <h3 class="color-primary">Datos</h3>
              <div class="card-block blue">
                <ul class="list-unstyled">
                  <li class="fw-300">Categoría <br><strong>Wordpress</strong></li>
                  <li class="fw-300">Desarrollado para <br><strong>Proyecto Frelancer</strong></li>
                  <li class="fw-300">Año <br><strong>2016</strong></li>
                  <li>
                    <a class="ms-tag ms-tag-info">HTML5</a>
                    <a class="ms-tag ms-tag-danger">CSS3</a>
                    <a class="ms-tag ms-tag-royal">JS</a>
                    <a class="ms-tag ms-tag-primary">Bootstrap3</a>
                    <a class="ms-tag ms-tag-success">PHP</a>
                  </li>
                </ul>
              </div>
            </div><!-- ./Datos -->
          </div><!-- ./row -->
          <!-- Descripción -->
          <div class="card-block">
            <h3 class="color-primary">Descripción</h3>
            <p>Este proyecto me brindó la oportunidad de desarrollar un concepto con el cual convertir este espacio en algo más que un simple blog, creando un tema que permite, además de publicar artículos, promover de forma directa el programa de capacitación que ofrece esta empresa.</p>
            <p class="small mt-2"><i>En esta oportunidad formé equipo con <a href="https://www.linkedin.com/in/jaro-marval/" title="Jaro Marval">Jaro Marval</a> (Desarrollador Senior) quien se encargó del backend del sitio.</i></p>
          </div><!-- ./Descripción -->          
        </div>
      </div><!-- ./Contenido del Modal -->
      <!-- Footer del Modal -->
      <div class="modal-footer" style="background: #cacaca">
        <a type="button" class="btn btn-default" data-dismiss="modal">Cerrar</a>
        <a href="https://pisciculturaglobal.com/" target="_blank" type="button" class="btn btn-primary">Ver en vivo</a>
      </div><!-- ./Footer del Modal -->
    </div>
  </div>
</div>