<div class="modal" id="modalItem05" tabindex="-1" role="dialog" aria-labelledby="M&GInmobiliaria">
  <div class="modal-dialog modal-lg animated zoomIn animated-3x" role="document">
    <div class="modal-content">
      <!-- Header Modal -->
      <div class="modal-header" style="background: #cacaca">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
        <h3 class="modal-title" id="M&GInmobiliaria">Sitio Web de M&G Inmobiliaria</h3>
      </div><!-- ./Header Modal -->
      <!-- Contenido del Modal -->
      <div class="modal-body">
        <div class="animated fadeInUp animation-delay-1">
          <div class="row">
            <!-- Imagen -->
            <div class="col-md-8">
              <img src="assets/img/port-mg.jpg" alt="Sitio Web de M&G Inmobiliaria" class="img-responsive">
            </div><!-- ./Imagen -->
            <!-- Datos -->
            <div class="col-md-4">
              <h3 class="color-primary">Datos</h3>
              <div class="card-block blue">
                <ul class="list-unstyled">
                  <li class="fw-300">Categoría <br><strong>HTML</strong></li>
                  <li class="fw-300">Desarrollado para <br><strong>Slice Group</strong></li>
                  <li class="fw-300">Año <br><strong>2017</strong></li>
                  <hr>
                  <li>
                    <a class="ms-tag ms-tag-info">HTML5</a>
                    <a class="ms-tag ms-tag-danger">CSS3</a>
                    <a class="ms-tag ms-tag-royal">JS</a>
                    <a class="ms-tag ms-tag-primary">Bootstrap3</a>
                  </li>
                </ul>
              </div>
            </div><!-- ./Datos -->
          </div><!-- ./row -->
          <!-- Descripción -->
          <div class="card-block">
            <h3 class="color-primary">Descripción</h3>
            <p>La idea fué crear un portal visualmente identificado con la imagen de la empresa, fácil de usar, donde mostrar de forma expedita los inmuebles y servicios que ofrece.</p>
            <p class="small mt-2"><i>Es importante destacar que el CMS utilizado para este proyecto es <b>Keppler</b>, el cual es un producto propio de <a href="http://slicegroup.xyz/" target="_blank" title="Slice Group">Slice Group</a>.</i></p>
          </div><!-- ./Descripción -->          
        </div>
      </div><!-- ./Contenido del Modal -->
      <!-- Footer del Modal -->
      <div class="modal-footer" style="background: #cacaca">
        <a type="button" class="btn btn-default" data-dismiss="modal">Cerrar</a>
        <a href="http://mgasesoriainmobiliaria.com/" target="_blank" type="button" class="btn  btn-primary">Ver en vivo</a>
      </div><!-- ./Footer del Modal -->
    </div>
  </div>
</div>