			<nav class="navbar ms-lead-navbar navbar-mode" id="navbar-lead">
			  <div class="container container-full">
			    <div class="navbar-header">
			      <a class="navbar-brand animated fadeInRight animation-delay-5" href="index.html">
			        <img class="logo" src="assets/img/logo_white.svg" alt="Logo">
			        <!-- <span class="ms-logo ms-logo-white ms-logo-sm">S</span>
			        <span class="ms-title"><strong>SOLPIM</strong></span> -->
			      </a>
			    </div>
			    <div id="navbar" class="navbar-collapse collapse">
			      <ul class="nav navbar-nav navbar-right">
			        <li class="animated fadeIn animation-delay-4">
			          <a data-scroll href="index.html#home">Inicio</a>
			        </li>
			        <!-- <li class="animated fadeIn animation-delay-8">
			          <a data-scroll href="#portfolio">Portfolio</a>
			        </li> -->
			        <li class="animated fadeIn animation-delay-8">
			          <a data-scroll href="price_calc.html">Cálculo de Precios</a>
			        </li>
			        <!-- <li class="animated fadeIn animation-delay-5">
			          <a data-scroll href="#timeline">Experiencia</a>
			        </li>
			        <li class="animated fadeIn animation-delay-6">
			          <a data-scroll href="#education">Formación</a>
			        </li>
			        <li class="animated fadeIn animation-delay-7">
			          <a data-scroll href="#skills">Habilidades</a>
			        </li>              
			        <li class="animated fadeIn animation-delay-10">
			          <a data-scroll href="#information">Información</a>
			        </li> -->
			      </ul>
			    </div>
			    <!-- navbar-collapse collapse -->
			    <a href="javascript:void(0)" class="sb-toggle-left btn-navbar-menu animated fadeIn animation-delay-12">
			      <i class="fa fa-bars"></i>
			    </a>
			  </div>
			  <!-- container -->
			</nav>