				<!-- Habilidades Profesionales -->
				<div class="card card-primary-inverse ms-hero-code ms-bg-fixed mt-4 wow fadeInUp" id="skills">
				  <div class="card-block card-block-big">
				    <h3 class="text-center fw-500 mb-4">Habilidades Profesionales</h3>
				    <div class="row">
				      <div class="col-md-4">
				        <div class="text-center mt-4">
				          <div class="circle" id="circles-1"></div>
				          <h3 class="text-center">HTML5 / CSS3</h3>
				        </div>
				      </div>
				      <div class="col-md-4">
				        <div class="text-center mt-4">
				          <div class="circle" id="circles-2"></div>
				          <h3 class="text-center">Javascript</h3>
				        </div>
				      </div>
				      <div class="col-md-4">
				        <div class="text-center mt-4">
				          <div class="circle" id="circles-3"></div>
				          <h3 class="text-center">Teoría del Diseño</h3>
				        </div>
				      </div>
				    </div>
				    <h2 class="text-center mt-6 mb-2">Otras herramientas</h2>
				    <div class="text-center center-block mw-500">
				      <span class="ms-tag ms-tag-light color-primary">POSTCSS</span>
				      <!-- <span class="ms-tag ms-tag-light color-primary">HAML</span> -->
				      <span class="ms-tag ms-tag-light color-primary">Bootstrap</span>
				      <!-- <span class="ms-tag ms-tag-light color-primary">SASS</span> -->
				      <span class="ms-tag ms-tag-light color-primary">Git</span>
				      <span class="ms-tag ms-tag-light color-primary">Gulp</span>
				      <span class="ms-tag ms-tag-light color-primary">Linux</span>
				      <span class="ms-tag ms-tag-light color-primary">Foundation</span>
				      <span class="ms-tag ms-tag-light color-primary">Corel Draw</span>
				      <span class="ms-tag ms-tag-light color-primary">Inkscape</span>
				      <span class="ms-tag ms-tag-light color-primary">Illustrator</span>
				      <span class="ms-tag ms-tag-light color-primary">PhotoShop</span>
				      <span class="ms-tag ms-tag-light color-primary">Gimp</span>
				      <span class="ms-tag ms-tag-light color-primary">Dibujo y Pintura</span>
				      <span class="ms-tag ms-tag-light color-primary">Liderazgo</span>
				    </div>
				  </div>
				</div><!-- /.Habilidades Profesionales -->